*{
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: #E9F0F0;
    }

    
 div#container{  /*corpo da pagina */
display: flex;
flex-direction: row;
justify-content: right;
align-items: center;
background-color: whitesmoke;
}

div#form{ /* caixa do cadastro */
    margin-right: 10%;
    width: 65%;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 2px 2px 7px black;
}

#login{
    margin-bottom: 28px;
    margin-top: 0px;
    margin-left: 27%;
    font-family: 'Poppins', sans-serif; /*FONTE DA TELA DE CADASTRO*/
    font-size: 25px;
}

input{
    margin-top: -10px;
    margin-left: 8px;
    padding: 10px;
    width: 88%;
    text-align: center;
    border-radius: 5px;
}

#input_senha{
    margin-bottom: 10%;
}

#input_email{
    margin-bottom: 10%;
}

#btn{
    margin: 10px 0px;
    margin-left: 17px;
    padding: 6px;
}
#btn {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}
#btn:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#btn-cadastro{
    margin: 10px 0px;
    margin-left: 16px;
    padding: 0;
    text-decoration: none;
    font-style: none;

}   

#btn-cadastro a{
    text-decoration: none;
    color: white;
}  

#btn-cadastro {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}
#btn-cadastro:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.btns{
    width: 140px;
    height: 29px;
    color: white;
    background: linear-gradient(45deg,#535993, #7480ED); /*DEGRADÊ DOS BOTÕES*/
    border: none;
    cursor: pointer; /*DEIXAR O CURSOR COM AQUELA MÃOZINHA QUANDO PASSA POR CIMA DOS BOTÕES*/
    border-radius: 5px; /*DEIXAR OS BOTÕES COM BORDA ARREDONDADA*/
}

/*LOGO RIOT e animação*/
.logo-riot {
    margin: 13px 0px 0px 30px;
    float: left;
    height: 110px;
   }
   .logo-riot {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}
.logo-riot:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*FIM LOGO RIOT e animação*/

/*LOGO DISS e animação*/
.logo-diss {
    margin: 0px 4px 0px 0px;
    height: 130px;
    float: right;
}

.logo-diss {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}
.logo-diss:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*FIM LOGO DISS e animação*/

.mao {
    margin: -110px 0px 43px 240px;
    height: 40px;
}

/*imagem do fundo e animação*/
#back-img{
    width: 80%;
    z-index: 12;
    margin: 25px 40px 30px 92px;
    border-radius: 5px;
}
#back-img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}
#back-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#container-img{
    margin-left: -20%;
    transform: skew(-15deg); /*DEIXAR A IMAGEM NA DIAGONAL*/
}
/*fim imagem do fundo e animação*/


/* FOOTER */
.footer{
    height: 70px;
    background: linear-gradient(45deg,#535993, #7480ED);
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin-top: -1.2%;
    }
    
    .footer h3 {
    color: white;   
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
    padding-top: 2.5%;
    }
  